.leaflet-control-coordinates {
    font-size: 8pt;
    font-family: 
        'Open Sans', 'Segoe UI', 'Droid Sans', Tahoma, Arial, sans-serif;
	background: white;
	border-radius: 4px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
	cursor: pointer !important;
	padding: 2px 5px;
	text-align: center;
}

.leaflet-control-coordinates.hidden {
	display: none;
}

.leaflet-control-coordinates span {
    display: none;
}

.leaflet-control-coordinates.ll span:first-child {
    display: block;
}

.leaflet-control-coordinates.rd span:last-child {
    display: block;
}