* {
  box-sizing: border-box;
}
.vcl-ui-Bar {
  background-color: #f0f0f0;
  height: 24px;
  /* typical usage vertical: 4px 16px 4px */
  padding-top: 3px;
}
.vcl-ui-Bar.gradient {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f5f5f5), to(#e5e5e5));
}
.vcl-ui-Bar:not(.bottom) {
  border-bottom: 1px solid silver;
}
.vcl-ui-Bar.bottom {
  padding-top: 0px;
  border-top: 1px solid silver;
  margin-top: 2px;
}
.vcl-ui-Bar.sizeable {
  padding-right: 10px;
}
.vcl-ui-Bar.sizeable.overflowing {
  padding-right: 24px;
}
.vcl-ui-Bar.sizeable .overflow_handler {
  right: 4px;
}
.vcl-ui-Bar > [id$=-tabs].bottom .vcl-ui-Tab {
  border: 1px solid transparent;
  border-top: none;
}
.vcl-ui-Bar > [id$=-tabs] .vcl-ui-Tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  padding: 2px 4px 2px 4px;
  margin-left: 3px;
  margin-right: 3px;
}
.vcl-ui-Bar > [id$=-tabs] .vcl-ui-Tab.selected {
  background-color: white;
  border-color: gray;
}
.vcl-ui-Bar.bottom > [id$=-tabs] .vcl-ui-Tab.selected {
  border: 1px inset;
}

input.cmn-toggle-round + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #dddddd;
  border-radius: 60px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 58px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 60px;
}


input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #dddddd;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 52px;
  background-color: #dddddd;
  border-radius: 52px;
  transition: margin 0.4s, background 0.4s;
}
input.cmn-toggle-round-flat:checked + label {
  background-color: #8ce196;
}
input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 60px;
  background-color: #8ce196;
}

div.scale-down {
	-webkit-transform: scale3d(0.2, 0.8);
	display: inline-block;
}